h1{
    color: blue;
    text-align: center;
    font-weight: bold;
 }
 
 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black
 }
 
 header img{
    width: 6vw;
    margin-right: 10px;
    padding: 5px;
 }
 
 .menu a{
    text-decoration: none;
    color: white;
    font-size: 12pt;
    margin-left: 215px;;
 
 }
 
 aside{
    display: flex;
    justify-content: space-around;
    align-items: center
 }
 
 aside h2, p{
    padding: 10px;
    margin: 20px 10px 10px 0px;
 }
 
 .text p{
    font-weight: bold;
    color: grey;
 }
 
 .Receita{
    font-size: 11pt;
    color: black;
    line-height: 20px;
    letter-spacing: 1px;
    margin-left: 15px;
   
 }
 
 /* #teste2 {
    font-size: 50pt;
    margin-left: 110px;
    margin-bottom: 100px;
    font-style: italic;
 } */
 
 
 .teste {
    justify-content: space-around;
    display: flex;
    padding: 50px;
    background: black;
 }
 
 .rodape {
    text-decoration: none;
    margin-left: 450px;
 }
 